.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.zipcodeContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.zipcodes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 20rem;
  border: 1px solid white;
}

.zipcodedistance {
  font-size: 11px;
  border-bottom: 1px solid white;
  height: 30px;
}

.row {
  padding: 0.3rem;
}

.asyncselect {
  width: 150px;
  font-size: medium;
  color: #282c34;
}
